<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link th:href="@{/style/common.css}" rel="stylesheet">
	<link th:href="@{/style/authentication.css}" rel="stylesheet">
	<link th:href="@{/style/login.css}" rel="stylesheet">
</head>
<body>
	<div class="login authentication">
		<h2>Login</h2>
		<div th:if="${param.error}">
			Invalid username and password.
		</div>	
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<input type="text" name="userName" class="form-control" placeholder="Username" required/></label>
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password" required/></label>
			</div>
			<button type="submit" name="login" class="btn btn--orange">Login</button>
		</form>
		<div class="register-user">
			<a th:href="@{/userregistration}"> Sign up</a>
		</div>
	</div>
</body>
</html>
