<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Mypage</title>
	<link th:href="@{/style/common.css}" rel="stylesheet">
	<link th:href="@{/style/mypage.css}" rel="stylesheet">
</head>
<body>
	<div class="mypage">
		<!-- get username from login screen -->
		<div class="header">
			<h2>Welcome, [[${userName}]]</h2>
			<!-- form ends here -->
			<!-- form starts here -->
			<form th:action="@{/logout}" method="post" class="logout-button">
				<button type="submit" name="logout" class="btn btn--white">Logout</button>
			</form>
			<!-- form ends here -->
		</div>
		<!-- form starts here -->
		<form th:action="@{/mypage}" method="post">
			<div class="input-container">
				<!-- friend search box -->
				<input type="search" name="receiverName" class="form-control" placeholder="Serch users.." >
				<button type="submit" name="submit" class="btn btn--orange">Submit</button>
			</div>
		</form>
		<!-- form ends here -->
		<!-- form starts here -->
		<form th:action="@{/chat}" method="post">
			<div class="result-container">
				<!-- show name of correspondent and button for page transition if found -->
					<div th:if="${receiverName}">
						<p>Found: [[${receiverName}]]</p>
						<button type="submit" name="talk" class="btn btn--orange">Talk</button>
					</div>
				<!-- show error message if user chose themselves-->
				<p th:if="${sameUser}">You cannot choose yourself</p>
				<p th:if="${receiverNotFound}">User not found</p>
			</div>
			
		</form>
	</div>
</body>
</html>