<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Signup</title>
</head>
<body>
	<div>
		<h1>User Register</h1>
		<!-- form starts here -->
		<form th:action="@{/signup}" method="post" th:object="${signUpForm}">
			<table>
				<!-- userId area -->
				<tr>
					<th>UserID: </th>
					<td>
						<input type="text" name="userId" th:field="*{userEmail}"/>
						<span th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></span>
					</td>
				</tr>
				<!-- name area -->
				<tr>
					<th>Username: </th>
					<td>
						<input type="text" name="userName" th:field="*{userName}" />
						<span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
					</td>
				</tr>
				<!-- password area -->
				<tr>
					<th>Password: </th>
					<td>
						<input type="text" name="password" th:field="*{password}" />
						<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
					</td>
				</tr>
				<!-- birthday area -->
				<tr>
					<th>Birthday: </th>
					<td>
						<input type="text" name="birthday" placeholder="yyyy/MM/dd" th:field="*{birthday}" />
						<span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
					</td>
				</tr>
			</table>
			<!--user registry button -->
			<button type="submit" name="register">register</button>
		</form>
		<!-- form ends here -->
	</div>
</body>
</html>
